{% extends 'system/base.html' %}
{% block content %}
  <div>
    <h1>Change Password</h1>
  </div>
  <div>
    {% if errors %}
    <div style="color: red">
      <ul>
      {% for error, messages in errors.items %}
        <li>{{ error }}</li>
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    <span style="display:inline; float:middle;">
      <form id="reset-password-form" action="/system/change_password/" method="post">
        {% csrf_token %}
        {{ form }}
        <button id="submit_btn" type="submit">Change Password</button>
      </form>
    </span>
  </div>
  <div>
    <a href="/files/">Return</a>
  </div>
{% endblock %}
